<li>
  <div class="notifications-container">
    <!--お知らせコンテナ上部-->
    <div class="notifications-container-top">
      <%= link_to image_tag(notification.notified_by.picture.url), user_path(notification.notified_by) %>
      <% if notification.notified_type == "評価" %>
        <p>
          <%= notification.notified_by.name %>さんが<%= link_to "あなたの投稿", post_path(notification.post) %>を評価しました。
        </p?
      <% else %>
        <p>
          <%= notification.notified_by.name %>さんが<%= link_to "あなたの投稿", post_path(notification.post) %>にコメントをしました"
        </p>
      <% end %>
    </div>
    <div class="notification-container-bottom">
      <% if notification.notified_type == "評価" %>
        <p class="notification-post">><%= notification.post.content %></p>
      <% else %>
        <p class="notification-comment"><%= notification.comment.content %></p>
        <p class="notification-post">><%= notification.post.content %></p>
      <% end %>
    </div>
  </div>
</li>
