<% provide(:title, "Edit user") %>

<main class="full-screen">
  <div class="form">
    <h2>プロフィール編集</h2>
    <div class="form-box">
      <div>
        <%= form_for (@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        　<div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank" rel="noopener">画像を変更</a>
          </div>

          <%= f.label :name, "ユーザー名" %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "変更を送信" %>
        <% end %>
      </div>


  　</div>

  </div>
</main>
