<main>
  <div class="main-container">

    <!--レイアウト左側-->
    <div class="left-container">

      <!--タイトル-->
      <h2 id="h2-center"><i class="fas fa-star fa-fw"></i>獲得数ランキング</h2>

      <!--投稿コンテナ-->
      <% if @users.any? %>
        <div class="posts">
          <ol class="post-list jscroll">
            <% @users.each do |user| %>
            <li>
              <div class="users-container">
                <!--お知らせコンテナ上部-->
                <div class="users-container-top">
                  <div class="user_name">
                    <%= link_to image_tag(user.picture.url), user_path(user), class: "user-name" %>
                    <%= link_to user.name, user_path(user), class: "user-name" %>
                  </div>

                  <div class="ranking-star-count">
                    <%= "★#{user.star_count}" %>
                  </div>

                </div>
                <div class="users-container-bottom">
                  <%= user.self_introduction %>
                </div>
              </div>
            </li>

            <% end %>
            <%= paginate @users %>
          </ol>
        </div>
      <% else %>
        <div class="post-none">
          <p>ユーザーはいません</p>
        </div>
      <% end %>

    </div>

    <!--レイアウト右側-->
    <%= render 'shared/right_container' %>

  </div>


</main>
