<% provide(:title, @user.name) %>

<main>
  <div class="main-container">

    <!--レイアウト左側-->
    <div class="left-container">

      <!--ユーザー情報部分-->
      <div id="profile-container">
        <div id="profile-container-up">
          <div id="user-name">
            <%= image_tag(@user.picture.url) %>
            <p><%= @user.name %></p>
          </div>
          <div id="user-edit">
            <% if current_user?(@user) || current_user.admin? %>
              <%= link_to "編集", edit_user_path(params[:id]) %>
            <% elsif current_user.mutes?(@user) %>
              <%= link_to "ミュート済み", user_mutes_path(@user.id), method: :delete, class: "mute" %>
            <% end %>

          </div>
        </div>
        <p id="user-info">作成した例文・・・<%= @user.posts.count %>　　獲得★数・・・<%= sum_stars(@posts) %></p>

        <!--自己紹介部分-->
        <div id="profile-container-bottom">
          <%= @user.self_introduction %>
        </div>
      </div>

      <!--投稿部分-->
      <!--カテゴリー-->
      <div class="post-category">
        <% if @post_category == 0 %>
          <%= image_tag("your-post1.png", alt: "あなたの投稿") %>
          <%= link_to image_tag("evaluate-post0.png", alt: "評価した投稿"), evaluated_user_path %>
        <% else %>
          <%= link_to image_tag("your-post0.png", alt: "あなたの投稿"), user_path %>
          <%= image_tag("evaluate-post1.png", alt: "評価した投稿") %>
        <% end %>
      </div>

      <!--投稿コンテナ-->
      <% if @posts.any? %>
        <div class="posts">
          <ol class="post-list jscroll">
            <%= render @posts %>
            <%= paginate @posts %>
          </ol>
        </div>
      <% else %>
        <div class="post-none">
        <% if @post_category == 0 %>
          <p>投稿した例文はありません</p>
        <% else %>
          <p>評価した例文はありません</p>
        <% end %>
        </div>
      <% end %>
    </div>

    <!--レイアウト右側-->
    <%= render 'shared/right_container' %>

  </div>


</main>
