<% provide(:title, @user.name) %>

<main>
  <div class="main-container">

    <!--レイアウト左側-->
    <div class="left-container">

      <!--ユーザー情報部分-->
      <div id="profile-container-up">
        <div id="user-name">
          <%= gravatar_for @user %>
          <p><%= @user.name %></p>
        </div>
        <div id="user-info">
          <% if current_user?(@user) %>
            <%= link_to "編集", edit_user_path(current_user) %>
          <% elsif current_user.mutes?(@user) %>
            <%= link_to "ミュート済み", user_mutes_path(@user.id), method: :delete, class: "mute" %>
          <% end %>
          <p>作成した例文・・・<%= @user.posts.count %>　　獲得★数・・・<%= sum_stars(@posts) %></p>
        </div>
      </div>

      <!--自己紹介部分-->
      <div id="profile-container-bottom">
        <p>最近英語の勉強を頑張っています。よろしくおねがいします。</p>
      </div>


      <!--投稿部分-->
      <!--カテゴリー-->
      <div class="post-category">
        <% if @post_category == 0 %>
          <p>投稿した例文</p>
          <%= link_to "評価した例文", evaluated_user_path %>
        <% else %>
          <%= link_to "投稿した例文", user_path %>
          <p>評価した例文</p>
        <% end %>
      </div>

      <!--投稿コンテナ-->
      <% if @posts.any? %>
        <div class="posts">
          <ol>
            <%= render @posts %>
          </ol>
        </div>
      <% end %>
    </div>

    <!--レイアウト右側-->
    <%= render 'shared/right_container' %>

  </div>


</main>
