<% provide(:title, @user.name) %>

<main>
  <div class="main-container">

    <!--レイアウト左側-->
    <div class="left-container">

      <!--ユーザー情報部分-->
      <div id="profile-container-up">
        <div id="user-name">
          <%= gravatar_for @user %>
          <p><%= @user.name %></p>
        </div>
        <div id="user-info">
          <% if current_user?(@user) %>
            <%= link_to "編集", edit_user_path(current_user) %>
          <% end %>
          <p>作成した例文・・・84　　獲得★数・・・52</p>
        </div>
      </div>

      <!--自己紹介部分-->
      <div id="profile-container-bottom">
        <p>最近英語の勉強を頑張っています。よろしくおねがいします。</p>
      </div>


      <!--投稿部分-->
      <!--カテゴリー-->
      <div class="post-category">
        <p>投稿した例文</p>
        <%= link_to "評価した例文", "#" %>
      </div>

      <!--投稿コンテナ-->
      <% if @posts.any? %>
        <div class="posts">
          <ol>
            <%= render @posts %>
          </ol>
        </div>
      <% end %>
    </div>
    <div class="right-container">
    </div>

  </div>


</main>
