<% categories = current_user.favorites.pluck(:category).uniq %>
<% @favorite = Favorite.new %>
<%= form_for [post, @favorite], html: {id: "#{post.id}", class: "inform_save"}, remote: true do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div><%= f.hidden_field :post_id, :value => post.id, id: "#{post.id}h" %></div>
  <h3>カテゴリーを選択または追加</h3>
  <select class="category">
    <%= render 'shared/reibun_category', categories: categories %>
  </select>
  <%= f.text_field :category, placeholder: "カテゴリーを入力してください", class: 'reibun-category-form form-control', id: "#{post.id}t" %>
  <p class = "categoryMsg"></p>
  <%= f.submit "登録", class: "select-submit" %>

<% end %>
