<div class="right-container">
  <div id="sidebar">
    <!--検索-->
    <%= form_tag(index_path, method: :get) do %>
      <div class="input-group">
        <%= search_field_tag "q", params[:q], class: "form-control search", placeholder: "単語、構文を検索", id: "auto-complete" %>
        <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
      </div>
    <% end %>

    <!--current_user情報-->
    <div id="current-user-container">
      <%= link_to image_tag(current_user.picture.url), user_path(current_user) %>
      <%= link_to current_user.name, user_path(current_user) %>
      <p>例文作成数 <%= current_user.posts.count %>　★獲得数 <%= sum_stars(current_user.posts) %> </p>
    </div>

    <div id="reibuntyou-link">
      <%= link_to image_tag("reibun-link.png", alt: "My例文帳"), favorite_url %>
    </div>

    <div id="star-ranking-table">
      <div id="ranking-table-top">
        <i class="fas fa-star fa-fw"></i><p>獲得数ランキング</p>
      </div>

      <% i = 1 %>
      <% @ranking_users.each do |ranking_user| %>
        <div class="ranking-table-main">
          <div class="ranking-left">
            <div class="ranking-number"><%= i %></div>
            <%= link_to image_tag(ranking_user.picture.url), user_path(ranking_user) %>
            <%= link_to ranking_user.name, user_path(ranking_user), class: "ranking-user-name" %>
          </div>
          <div class="ranking-star-count"><%= "★#{ranking_user.star_count}" %></div>
        </div>
          <% i+= 1 %>
      <% end %>


    </div>
  </div>
</div>
