<li>
  <div class="posts-container">
    <!--投稿コンテナ上部-->
    <div class="posts-container-top">
      <!--名前と画像部分-->
      <div class="posts-user-name">
        <%= link_to image_tag(post.user.picture.url), user_path(post.user) %>
        <%= link_to post.user.name, user_path(post.user) %>
      </div>

      <!--キーワード部分-->
      <div class="posts-keyword">
        <% post.tags.each do |tag| %>
          <%= link_to tag, index_path(q: tag.name) %>
        <% end %>
        <%= render 'shared/post_option', post: post %>
      </div>
    </div>

    <!--投稿コンテナ中部-->
    <div class="posts-container-middle">
      <%= image_tag post.image.url if post.image? %>
      <%= simple_format(h(post.content),{},sanitize: false) %>
    </div>
    <div class="posts-information">
      <%= simple_format(h(post.information),{},sanitize: false) %>
    </div>
    <div class="posts-time">
      <p><%= time_ago_in_words(post.created_at) %>前</p> <!--time_ago_in_wordsメソッドを使用すると何分前と表示できる-->
    </div>

    <!--投稿コンテナ下部-->
    <div class="posts-container-bottom">
      <div class="star-box" id="star-box-<%= post.id %>">
        <%= render 'shared/star', post: post %>
      </div>
      <div class="star-count" id="star-count-<%= post.id %>">
        <p>★<%= sum_star(post) %></p>
      </div>
      <div class="comment-box">
        <%= image_tag "hukidasi.png", alt: "吹き出し" %>
        <p><%= post.comments.count %></p>
      </div>
      <div id="reibun-box-<%= post.id %>">
        <%= render 'shared/reibun_modal', post: post %>
      </div>

    </div>


  </div>
</li>
