<main class="full-screen">
  <div class="form">
    <h2>例文の編集</h2>
    <div class="form-box">
      <div>
        <%= form_for (@post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :keyword, "単語、構文" %>
          <%= f.text_field :keyword, placeholder: "何の単語、構文で英作文するかを記述　例)have to", class: 'form-control' %>

          <%= f.label :content, "内容" %>
          <%= f.text_area :content, class: 'form-control form-content' %>

          <%= f.label :information, "補足" %>
          <%= f.text_area :information, placeholder: "補足があれば書きましょう", class: 'form-control form-information' %>

          <%= f.label "画像をアップロード" %>
          <%= f.file_field :image, accept: 'image/jpeg,image/git,image/png' %>

          <%= f.submit "投稿" %>
        <% end %>

        <script type="text/javascript">
          $('#micropost_picture').bind('change', function() {
            var size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert('5MB以上の画像は投稿できません');
            }
          });
        </script>
      </div>


  　</div>

  </div>
</main>
