<main class="full-screen">
  <div class="post-form">
    <h2>投稿編集</h2>
    <%= form_for (@post) do |f| %>
      <div class="post-form-box">
        <div id="form-box-left">
          <%= render 'shared/error_messages', object: f.object %>
          <% if f.object.errors.any? %>
            <div class="field_with_errors">
          <% end %>
          <h3>タグ：単語、構文など(最大3つまで、「,」カンマで区切る)</h3>
          <ul id="post-tags" class="form-control"></ul>
          <% if f.object.errors.any? %>
            </div>
          <% end %>

          <%= f.label :content, "内容" %>
          <%= f.text_area :content, class: 'form-control form-content' %>

          <%= f.label :information, "補足" %>
          <%= f.text_area :information, placeholder: "補足があれば書きましょう", class: 'form-control form-information' %>
        </div>
        <div id="form-box-right">
          <div class="field-image">
            <% if @post.image.url.present? %>
              <div class="fa fa-times delete-preview"></div>
            <% end %>
            <%= f.label "画像をアップロード" %>
            <div id="img-field" onClick="$('#file').click()">
              <% if @post.image.url.present? %>
                <%= image_tag(@post.image.url) %>
              <% else %>
                <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
              <% end %>
            </div>
            <%= f.check_box :remove_image, class: "remove_image" %>
            <%= f.hidden_field :image_cache %>
            <%= f.file_field :image, accept: 'image/jpeg,image/git,image/png', class: "image", style: "display:none;", id: "file" %>

          </div>
          <%= f.submit "更新" %>
        </div>
      </div>
    <% end %>
  　
  </div>
</main>

<script type="text/javascript">
  $('#file').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以上の画像は投稿できません');
    }
  });
</script>
